body {
    font-family: sans-serif;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    border-bottom: 4px solid black;
    font-weight: normal;
    font-size: 24px;
}

h1 {
    font-weight: normal;
    font-size: 64px;
    text-align: center;
}

main img {
    border-left: 10px dotted black;
}

main p {
    font-size: 24px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

footer {
    background-color: black;
    padding: 15px;
}

footer p {
    background-color: white;
    font-size: 24px;
}
